{% load static %} {% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Little Lemon{% endblock %}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <img src="{% static 'img/logo.png' %}" alt="Little Lemon Logo" />
      <nav>
        <div class="nav-container">
          <ul class="nav-left">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'book_table' %}">Booking</a></li>
            <li><a href="{% url 'cart_detail' %}">Cart</a></li>
          </ul>

          <ul class="nav-center">
            {% if user.is_superuser or user|is_in_group:"manager" %}
            <li><a href="{% url 'add_menu_item' %}">New Dish</a></li>
            <li><a href="{% url 'orders_list' %}">Ordes</a></li>
            <li><a href="{% url 'dish_of_the_day' %}">Dish of Day</a></li>
            <li><a href="{% url 'manage_groups' %}">Groups</a></li>
            <li>
              <a href="{% url 'delivery_crew_dashboard' %}"
                >Delivery Dashboard</a
              >
            </li>
            {% endif %} {% if user|is_in_group:"Delivery Crew" %}
            <li>
              <a href="{% url 'delivery_crew_dashboard' %}"
                >Delivery Dashboard</a
              >
            </li>
            {% endif %}
          </ul>

          <ul class="nav-right">
            {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }}!</li>
            <li><a href="{% url 'order_history' %}">Order History</a></li>
            <li><a href="{% url 'Logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'Login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {% block content %}
      <!-- Default content goes here -->
      {% endblock %}
    </main>

    <footer>
      <p>Copyright {% now "Y" %} Little Lemon</p>
    </footer>
  </body>
</html>
