{% extends 'base.html' %} {% load static %} {% block title %}Menu - Little
Lemon{% endblock %} {% block content %}
<section>
  <h1 class="menu-heading">Our Menu</h1>
  <p class="menu-under">
    Explore our delicious offerings inspired by Italian, Greek, and Turkish
    cuisines.
  </p>
  {% if message %}
  <div class="alert alert-info">{{ message }}</div>
  {% endif %}
</section>

<section class="menu-section">
  {% for category in categories %}
  <div class="menu-category">
    <h2>{{ category.category }}</h2>
    <div class="menu-items">
      {% for item in menu_items %} {% if item.category == category.category %}
      <article
        class="menu-item {% if item.dish_of_the_day and item in cart_items %} dish-and-cart {% elif item.dish_of_the_day %} dish-of-the-day {% elif item in cart_items %} cart-added {% endif %}"
      >
        <a href="{% url 'menu_item_detail' item.id %}">
          <div class="menu-content">
            <img
              src="{{ item.image.url }}"
              alt="{{ item.title }}"
              class="menu-image"
            />
            <div class="menu-description">
              <strong>{{ item.title }}</strong> - {{ item.price }} USD<br />
              <span>Available: {{ item.inventory }}</span>
            </div>
          </div>
        </a>

        <!-- Add to Cart Form -->
        <form
          method="POST"
          action="{% url 'add_to_cart' item.id %}"
          class="cart-controls"
        >
          {% csrf_token %}
          <div class="quantity-controls">
            <label for="quantity-{{ item.id }}">Quantity:</label>
            <input
              type="number"
              name="quantity"
              id="quantity-{{ item.id }}"
              value="1"
              min="1"
              max="{{ item.inventory }}"
              required
            />
          </div>
          <button type="submit" class="add-to-cart-button">Add to Cart</button>
        </form>

        {% if request.user.is_superuser %}
        <div class="remove-delete">
          <form
            method="POST"
            action="{% url 'toggle_dish_of_the_day' item.id %}"
          >
            {% csrf_token %}
            <button
              type="submit"
              class="remove-button {% if item.dish_of_the_day %} remove {% else %} set {% endif %}"
            >
              {% if item.dish_of_the_day %} Remove Dish Day {% else %} Set Dish
              Day {% endif %}
            </button>
          </form>

          <form
            method="POST"
            action="{% url 'delete_menu_item' item.id %}"
            class="delete-form"
          >
            {% csrf_token %}
            <button type="submit" class="delete-button">Delete Item</button>
          </form>
        </div>
        {% endif %}
      </article>
      {% endif %} {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
