{% extends 'base.html' %} {% load static %} {% block title %}Order History -
Little Lemon{%endblock%} {% block content %}
<section class="order-history">
  <h1>Your Order History</h1>

  {% if orders %}
  <ul class="order-list">
    {% for order in orders %}
    <li class="order-item">
      <h3>Order ID: {{ order.id }}</h3>
      <p><strong>Date:</strong> {{ order.date }}</p>
      <p>
        <strong>Status:</strong> {% if order.status %}Completed{% else
        %}Pending{% endif %}
      </p>
      <p><strong>Total Cost:</strong> ${{ order.total }}</p>

      <h4>Order Details:</h4>
      <ul>
        {% for item in order.orderitem_set.all %}
        <li>
          {{ item.menuitem.title }} (x{{ item.quantity }}) - ${{ item.price }}
        </li>
        {% endfor %}
      </ul>

      <a
        href="{% url 'order_confirmation' order.id %}"
        class="view-order-button"
        >View Details</a
      >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You have no orders yet.</p>
  {% endif %}
</section>
{% endblock %}
